.container-info {
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;

    background: #d4cdcd;
    
}

.container-no-info {
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;

    background: #d4cdcd;
    
}