.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 50px;
    height: 200px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
    
    font-size: 24px;

    background: #d4cdcd;
}

.container-no-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 50px;
    height: 150px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
    
    font-size: 24px;
    
    background: #d4cdcd;
}