.container-input {
    margin-top: 30px;
}

.cep-input {
    padding: 14px 20px 14px 10px;
    border-radius: 4px;
    outline: none;
    border: 0;
    width: 320px;
    border: 2px solid rgb(1, 47, 172);
    background: transparent;
    color: #fff;
}

input::-webkit-inner-spin-button {
    display: none;
}

.botao-pesquisa {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(1, 47, 172) 0%,
      rgba(72, 89, 241, 0.753) 100%
    );
    color: #fff;
}

.cep-input::placeholder {
    color: #e2e2e2;
  }