.container-input {
    margin-top: 30px;
}

.cep-input {
    padding: 14px 20px 14px 10px;
    border-radius: 4px;
    outline: none;
    border: 0;
    width: 320px;
    border: 2px solid #012fac;
    background: transparent;
}

input::-webkit-inner-spin-button {
    display: none;
}

.botao-pesquisa {
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: #012fac;
    color: #fff;
}